body,
html {
  font-family: "Merriweather", serif;
  color: white !important;
  overflow-x: hidden;

  /* background-color: rgb(14, 19, 32)!important; */
}

.card-perfil {
  background-color: rgb(50, 66, 105) !important;
}

#perfil_bg {
  background-color: rgb(27, 35, 56) !important;
}

img.perfil-redondo {
  border-radius: 50%;
  border: 3px solid #fff; /* opcional: color y grosor del marco */
  background-color: antiquewhite;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
}

#experiencia_data1 {
  border: 3px solid rgb(14, 19, 32) !important;
  border-radius: 15px !important ;
  background-color: rgb(29, 37, 50);
}

#experiencia_data2 {
  padding: 10px !important;
  border: 1px solid #ffffff !important;
  border-radius: 15px !important ;
  background-color: rgb(27, 35, 56) !important;
  color: white !important;
}

#sobre-mi {
  background-color: rgb(27, 35, 56) !important;
}

#proyectos {
  background-color: rgb(14, 19, 32) !important;
}

#experiencia {
  background-color: rgb(27, 35, 56) !important;
}

#stars-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  background: transparent !important;
}
